.table {
  width: 100%;
  vertical-align: top;
}

@media only screen and (max-width: 1200px) {
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    box-sizing: border-box;
  }
}
/* 
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
} */
